body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;
    font-family: Roboto, Verdana, sans-serif;

}

h1 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    font-weight: 500;
    font-family: Roboto, Verdana, sans-serif;
}

h2 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    font-weight: 500;
    font-family: Roboto, Verdana, sans-serif;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
    font-family: Roboto, Verdana, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    background-color: #eeeeee;
    margin-bottom: 55px;
    padding-top: 50px;
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-navigation {
    width: 980px;
    float: left;
    margin-bottom: 15px;
}

.logo {
    width: 160px;
    float: left;
    margin-right: 200px;
}

.main-navigation ul {
    width: 620px;
    padding: 0px;
    float: left;

}

.cart {
    width: 160px;
    float: right;
}

.slider {
    clear: both;
}

.main-header h1 {
    clear:both;
    margin-bottom: 100px;
    margin-top: 75px;
}

.offers {
    margin-bottom: 40px;
    padding-bottom: 80px;
    border-bottom: solid 2px #eeeeee;
}

.offer-column {
    width: 300px;
    float: left;
    margin-right: 100px;
}

.offer-column:nth-child(3) {
    margin-right: 0;
}

.column-left {
    width: 700px;
    min-height: 410px;
    float: left;
    margin-top: 35px;
    margin-top: 35px;
}

.column-right {
    width: 360px;
    float: right;
    min-height: 410px;
}

.subtitle {
    display: block;
    margin-bottom: 20px;
    margin-top: 40px;
}

.statistics-column {
    float: left;
    width: 100px;
    margin-right: 25px;
}

.statistics-column:last-child {
    float: right;
    width: 105px;
    margin-right: 0px;
}

.our-clients {
    border-top: solid 2px #eeeeee;
    border-bottom: solid 2px #eeeeee;
    clear: both;
    font-size: 0;
}

.our-clients a {
    position: relative;
    display: inline-block;
    width: 260px;
    margin: 0 20px;
    line-height: 180px;
    text-align: center;
}

.our-clients img {
    vertical-align: middle;
    opacity: .2;
    cursor: pointer;
}

.our-clients img:hover {
    opacity: 1;
}

.our-clients img:active {
    opacity: 1;
}

.our-clients a:first-child {
    margin-left: 0
}

.our-clients a:last-child {
    margin-right: 0
}

.address {
    width: 220px;
    padding: 50px;
    margin-bottom: 55px;
}

.footer {
    padding: 70px 0;
}

.social {
    width: 260px;
    float: left;
    margin-right: 140px;
}

.social ul {
    padding: 0;
}

.social-discount {
    width: 760 px;
    float: left;
}

.catalog-filters {
    width: 260px;
    float: left;
    margin-right: 140px;
}

.catalog-sorting {
    padding-bottom: 55px;
}

.select-type {
    float: left;
    width: 280px;
}

.sorting-type {
    width: 25px;
    float: right;
}

.sorting-header {
    float: left;
    width: 160px;
    margin-right: 240px;
}

.catalog-gallery {
    width: 760px;
    float: right;
}


.catalog-item {
    width: 360px;
    float: left;
    margin-right: 40px;
    margin-bottom: 36px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0px;
}

.catalog-item:nth-child(2n+1) {
    clear: both;
}

.pagination {
    clear: both;
    margin-top, margin-bottom: 60px;
    margin-left, margin-right: 0;
}

.pagination ul {
    padding: 0;
}