body {
    min-width: 1200px;
    padding: 0;
    
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;
    font-family: Roboto, Verdana, sans-serif;

}

.catalog-item img {
    max-width: 100%;
    height: auto;
}

.offer-column h3 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
    font-family: Roboto, Verdana, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    padding-top: 50px;
    background-color: #eeeeee;
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-navigation {
    width: 980px;
    float: left;
}

.logo {
    width: 160px;
    float: left;
    margin-right: 200px;
    line-height: 0;
}

.logo a {
    display:inline-block;
    vertical-align: top;
    line-height: 0;
}

.main-navigation ul {
    list-style: none;
    width: 620px;
    float: left;
    padding: 0;
    margin: 0;
    
    font-size: 0;
}

.main-navigation li{
    display: inline-block;
    vertical-align: top;

    margin-right: 48px;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 3px;
    white-space: nowrap;
    
    position: relative;
}

.cart {
    display: inline-block;
    vertical-align: top;

    max-width: 160px;
    float: right;
    padding-bottom: 3px;
    padding-top: 25px;
    padding-left: 40px;
    text-align: right;
    
    position:relative;
}

.cart::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(../img/sprite.png);
    background-position: 0 -11px;
    
    position: absolute;
    top: 32px;
    right: 99px;
    opacity: 0.3;
}

.main-menu a,
.cart a
{
    display: block;

    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    
    position: relative;
}

.main-header .active {
    color: #000000;
    border-bottom: solid 2px #fb565a;
}

.main-header .active:hover {
    color: #000000;
}

.main-menu a:hover,
.cart a:hover {
    color: #fb565a;
}

.main-menu a:active,
.cart a:active {
    color: #000000;
    opacity: 0.3;
}


.logo:hover {
    opacity: 0.8;
}

.logo a:active {
    opacity: 0.3;
}

.slider {
    clear: both;
    width: 1160px;
    height: 430px;
    margin: 0 auto;

    position: relative;
}

.slides {
    min-height: 430px;
}

.slider input {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 96px;
    width: 240px;
    height: 18px;
    left: 50%;
    margin-left: -112px; /* В макете управление сделано ровно по центру, но если здесь выравнивать при помощи "margin-left: половина ширины", то оно не по центру получается. */
    text-align: center;
    z-index: 100;
    font-size: 0;
}

.slider-controls label{
    display: inline-block;
    vertical-align: top;
    
    width: 8px;
    height: 8px;
    margin: 0;
    margin-right: 17px;
    background-color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~.slider-controls label[for="btn-1"],
#btn-2:checked ~.slider-controls label[for="btn-2"],
#btn-3:checked ~.slider-controls label[for="btn-3"] {
    margin: 5px;
    margin-right: 23px;
    width: 4px;
    height: 4px;
    border: 2px solid #c1c1c1;
    box-shadow: 0 0 0 5px #ffffff;
    vertical-align: top;
}

.slide-feature {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #eeeeee;

    position: absolute;
    top: 0;
    left: 0;
}

.slide-feature:nth-child(1) {
    background-image: url('../img/slide1.png');
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-position: 431px 17px;
}

.slide-feature:nth-child(2) {
    background-image: url('../img/slide2.png');
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-position: 496px 0;
}

.slide-feature:nth-child(3) {
    background-image: url('../img/slide3.png');
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-position: 401px 18px;
}

.slide-feature {
    display: none;
}

#btn-1:checked ~.slides .slide-feature:nth-child(1) {
    display: block;
}
#btn-2:checked ~.slides .slide-feature:nth-child(2) {
    display: block;
}
#btn-3:checked ~.slides .slide-feature:nth-child(3) {
    display: block;
}

.slide-text {
    width: 560px;
    margin-top: 80px;
}

.catalog-item h2,
.slide-feature h2 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    font-weight: 500;
    font-family: Roboto, Verdana, sans-serif;
}

.slide-feature h2 {
    margin: 0;
    margin-bottom: 22px;
}

.slider p {
    margin-bottom: 40px;
}

.main-header h1 {
    float: left;
    clear:both;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 110px;
    
    font-weight: 500;
    font-family: Roboto, Verdana, sans-serif;
    text-align: center;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.offers {
    margin-bottom: 40px;
    margin-top: 80px;
}

.offer-column {
    width: 300px;
    float: left;
    margin-right: 100px;
    margin-bottom: 80px;
}

.offer-column:nth-child(3) {
    margin-right: 0;
}

.offers .hr {
    float:left;
    margin: 0;
    width: 100%;
    background: #eeeeee;
    height: 2px;
    border: none;
}

.column-left {
    width: 700px;
    float: left;
    margin-top: 35px;
}

.column-left p {
    width: 680px;
}

.column-right {
    width: 360px;
    float: right;
    margin-bottom: 75px;
    min-height: 410px;
}

.offer-column img {
    margin-bottom: 19px;
}

.offer-column h3 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #000000;
    font-size: 24px;
    line-height: 30px;
}

.offer-column p {
    margin-bottom: 31px;
}

.features-header {
    margin-bottom: 31px;
    
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.studio-features p {
    margin-bottom: 40px;
}

.studio-features h5 {
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    
}

.studio-features ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.studio-features li{
    padding-left: 36px;
    margin-bottom: 24px;
    
    position: relative;
}

.studio-features li:last-child {
    margin-bottom: 0;
}

.studio-features li::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;

    position: absolute;
    top: 10px;
    left: 1px;
}

.studio-features img {
    margin-bottom: 29px;
}

.statistics-column {
    float: left;
    width: 100px;
    margin-right: 20px;
}

.statistics-column:last-child {
    width: 105px;
    margin-right: 0px;
}

.studio-features .subtitle {
    display: block;
    text-align: center;
    
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #000000;
}

.studio-features .statistics-percent {
    font-size: 45px;
    line-height: 70px;
    font-weight: 700;
    color: #000000;
}

.statistics-percent sup {
    font-size: 28px;
    line-height: 30px;
}

.statistics-column p {
    margin: 0;
    margin-top: 6px;
    line-height: 18px;
}

.our-clients {
    clear: both;
    margin-bottom: 80px;
    border-top: solid 2px #eeeeee;
    border-bottom: solid 2px #eeeeee;
    font-size: 0;
    
    position: relative;
}

.our-clients a {
    display: inline-block;
    vertical-align: middle;

    width: 260px;
    margin: 0 20px;

    line-height: 180px;
    text-align: center;
    
    position: relative;
}

.our-clients img {
    vertical-align: middle;
    opacity: 0.2;
    cursor: pointer;
}

.our-clients img:hover {
    opacity: 1;
}

.our-clients img:active {
    opacity: 0.1;
}

.our-clients a:first-child {
    margin-left: 0
}

.our-clients a:last-child {
    margin-right: 0
}

.our-clients a::after {
    content: "";
    width: 2px;
    height: 52px;
    background-color: #eeeeee;

    position: absolute;
    top: 65px;
    left: 280px;
}

.our-clients a:last-child::after {
    display: none;
}

.contacts {
    height: 415px;
    position: relative;
    background-image: url(../img/map.png);
    background-color: #edebe4;
    background-repeat: no-repeat;
    background-position: center;
}

.address {
    float: left;
    max-width: 219px;
    padding: 50px;
    padding-bottom: 47px;
    margin-top: 54px;
    
    background-color: #ffffff;
    
    position: absolute;
    z-index: 998;
    top: 0;
}

.address h4 {
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.address p {
    line-height: 18px;
    color: #666666;
    
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
}

.footer {
    padding: 70px 0;
}

.social {
    width: 260px;
    float: left;
    margin-right: 140px;
}

.social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-discount {
    width: 760 px;
    float: left;
}

.sorting-header {
    float: left;
    width: 160px;
    margin-right: 240px;
    line-height: 18px;
}

.catalog-sorting {
    margin-bottom: 50px;
}

.select-type {
    float: left;
    width: 280px;
    padding-top: 4px;
}

.catalog-sorting ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.select-type li {
    display: inline;
    margin-right: 23px;
    white-space: nowrap;
}

.select-type li:last-child {
    margin-right: 0;
}

.select-type a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    opacity: 0.3;
}

.select-type a:hover {
    opacity: 0.6;
}

.select-type a:active {
    opacity: 1.0;
}

.select-type .active {
    opacity: 1.0;
}

.sorting-type {
    width: 60px;
    float: right;
    padding-top: 4px;
}

.sorting-type ul {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 0;
    
    position: relative;
}

.sorting-type li {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}

.sorting-type a {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.triangle-down {
    margin-right: 20px;
}
.triangle-down a {
    display: inline-block;
    vertical-align: middle;
    
    width: 9px;
    height: 9px;
    border-top: 10px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    opacity: 0.2;
    box-sizing: border-box;
}

.triangle-up a {
    display: inline-block;
    vertical-align: middle;
    
    width: 9px;
    height: 9px;
    border-bottom: 10px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    opacity: 0.2;
    box-sizing: border-box;
}

.sorting-type .active {
    opacity: 1.0;
}

.sorting-type a:hover {
    opacity: 0.4;
}

.sorting-type a:active {
    opacity: 1;
}

.catalog-gallery {
    width: 760px;
    float: right;
    margin-top: 53px;
}

.catalog-item-top {
    height: 40px;
    background-color: #525252;
    opacity: 0.12;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    
    position: relative;
}

.catalog-item:hover .catalog-item-top{
    opacity: 1;
}

.catalog-item-top::before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 23px 0 0 0 #ffffff, 46px 0 0 0 #ffffff;
    
    position: absolute;
    top: 13px;
    left: 16px;
}

.catalog-item {
    width: 360px;
    float: left;
    margin-right: 40px;
    margin-bottom: 37px;
    
    position: relative;
    line-height: 0;
}

.catalog-item:hover {
    box-shadow: 0 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-item::after {
    content: "";
    width: 360px;
    height: 575px;
    box-shadow: inset 0 0 0 1px rgba(0, 1, 1, 0.1);
    /* C рамкой беда, на светлых картинках видно  */
    
    position: absolute;
    bottom: 0;
    left: 0;
}

.catalog-item:hover::after {
    display: none;
}

.catalog-item:nth-child(2n) {
    margin-right: 0px;
}

.catalog-item:nth-child(2n+1) {
    clear: both;
}

.catalog-item-info {
    padding-top: 30px;
    background-color: #eeeeee;
    
    text-align: center;
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}

.catalog-item:hover .catalog-item-info {
    display: block;
}

.catalog-item-info h2 {
    display: inline-block;
    vertical-align: middle;
    
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.catalog-item-info a:first-child {
    text-decoration: none;
    color: #000000;
}

.catalog-item-info p {
    width: 240px;
    margin: auto;
    margin-bottom: 32px;
    line-height: 18px;
}

.buy-item,
.btn {
    display: inline-block;
    vertical-align: middle;

    width: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 43px;
    border-radius: 3px;
    background-color: #fb565a;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.modal-feedback .btn {
    width: 260px;
    margin-top: 47px;
    margin-bottom: 0;
    border: 0;
    outline: none;
}

.offer-column .btn {
    margin-bottom: 0;
    width: 160px;
}

.address .btn {
    width: 219px;
    margin-bottom: 0;
    margin-top: 18px;
}

.slide-feature .btn {
    width: 240px;
}

.offer-column .btn-red {
    background-color: #fb565a;
}

.offer-column .btn-green {
    background-color: #00ca74;
}

.offer-column .btn-yellow {
    background-color: #efc84a;
}

.buy-item:hover,
.btn:hover {
    background-color: #e74246;
}

.offer-column .btn-red:hover {
    background-color: #e74246;
}

.offer-column .btn-green:hover {
    background-color: #00bc6c;
}

.offer-column .btn-yellow:hover {
    background-color: #eab534;
}

.buy-item:active,
.btn:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.offer-column .btn-red:active {
    background-color: #d7373b;
}

.offer-column .btn-green:active {
    background-color: #00aa62;
}

.offer-column .btn-yellow:active {
    background-color: #e5a722;
}

.catalog-filters .btn {
    display: block;
    width: 260px;
    padding: 16px 0;
    margin-bottom: 0;
    background-color: #eeeeee;
    color: #000000;
    border: 0;
    outline: none;
    font-family: Roboto, Verdana, sans-serif;
}

.pagination {
    margin-top:24px;
    margin-bottom: 60px;
    margin-left: 0;
}

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.pagination li {
    display: inline-block;
    vertical-align: middle;
    
    width: 50px;
    height: 50px;
    margin-right: 11px;
}

.pagination a {
    display: block;
    
    width: 50px;
    height: 18px;
    padding: 16px 0;
    
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.page-btn {
    display: inline-block;
    vertical-align: middle;
    
    width: 50px;
    margin-right: 10px;

    border-radius: 3px;
    background-color: #eeeeee;
}

.pagination .next-page,
.next-page a {
    width: 260px;
    margin-right: 0;
}

.page-btn:hover,
.catalog-filters .btn:hover {
    background-color: #e5e5e5;
}

.page-btn:active,
.catalog-filters .btn:active {
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.pagination .page-btn-active:active {
    color: #000000;
}

.pagination .page-btn-active {
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border: solid 3px #dbdbdb;
    box-shadow: none;
}

.page-btn-active a {
    padding: 13px 0;
    width: 44px;
    height: 18px;
}

.social {
    width: 260px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 0;
}

.social-btn {
    display: inline-block;
    vertical-align: middle;
    width: 78px;
    height: 78px;
    background-color: #e1e1e1;
    border: 1px solid #ffffff;
    border-radius: 50%;
    vertical-align: top;

    position: relative;
    font-size: 0;
}

.social-btn:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    
    position: absolute;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}

.social li {
    display: inline-block;
    vertical-align: middle;
    
    margin-right: 10px;
}

.social li:last-child {
    margin-right: 0;
}

.social-btn:hover {
    background-color: #e74246;
}

.social-btn:active {
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.social-btn:active::before {
    opacity: 0.3;
}

.vk:before {
    width: 26px;
    height: 15px;
    background-position: 0 -71px;
    top: 32px;
    left: 26px;
}

.facebook:before {
    width: 12px;
    height: 23px;
    background-position: 0 -146px;
    top: 28px;
    left: 34px;
}

.instagram:before {
    width: 20px;
    height: 20px;
    background-position: 0 -232px;
    top: 30px;
    left: 30px;
}

.social-discount {
    margin-top: 75px;
}

.discount-header {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.social-discount p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #444444;
}

.range-filter {
    clear: both;
    width: 260px;
}

.range-controls {
    height: 80px;
    margin-bottom: 15px;
    padding: 0 20px;
    background-color: #f1f1f1; 
    border-radius: 3px;
    overflow: hidden;
    
    position: relative;
}

.range-controls .scale {
    margin-top: 39px;
    height: 2px;
    background-color: #d7dcde;
}

.range-controls .bar {
    height: 2px;
    background-color: #00ca74;
    width: 160px;
}

.range-controls .toggle {
    width: 4px;
    height: 4px;
    border: 9px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    
    cursor: pointer;
    
    position: absolute;
    top: 30px;
    left: 18px;
}

.range-controls .max-toggle {
    left: 160px;
}

.price-controls {
    position: relative;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 12px;
    border: none;
    border-radius: 3px;
    background-color: #f1f1f1;
    
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-weight: 400;
    text-align: center;
}

.price-controls label {
    text-transform: uppercase;
    line-height: 22px;
}

.price-controls .min-price {
    margin-right: 28px;
}

.price-controls .max-price {
    position: absolute;
    right: 0;
}

.catalog-filters {
    width: 260px;
    float: left;
    margin-right: 140px;
    margin-top: 55px;
}

.filter-group,
.sorting-header {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.filter-group {
    margin-bottom: 15px;
}

.filter-price .filter-group {
    padding-top: 2px;
    margin-bottom: 47px;
    letter-spacing: 0.01em;

}

.filter-features .filter-group {
    margin-bottom: 13px;
}

.filter-grid input,
.filter-features input {
    position: absolute;
    opacity: 0;
    font-size: 16px;
    line-height: 20px;
    color: #283136;
}

.filter-price {
    margin-bottom: 52px;
}

.filter-grid {
    margin-bottom: 44px;
    }

.filter-features {
    margin-bottom: 49px;
}

.filter-grid label,
.filter-features label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding-left: 36px;
    margin-bottom: 16px;
}


.filter-grid label:last-child,
.filter-features label:last-child {
    margin-bottom: 0;
}


.filter-grid span,
.filter-features span {
    content: "";
    background-image: url(../img/sprite.png);
    opacity: 0.4;
    
    position: absolute;
}

.filter-grid span {
    width: 26px;
    height: 26px;
    background-position: 0 156px;
    left: 1px;
}

.filter-features span {
    width: 27px;
    height: 23px;
    background-position: 0 54px;
    left: 0;
}

.filter-label:hover span,
.filter-label:hover span {
    opacity: 1;
}

.filter-grid input[type="radio"]:disabled + span,
.filter-features input[type="checkbox"]:disabled + span {
    opacity: 0.1;
}

.filter-grid input[type="radio"]:checked + span {
    background-position: 0 205px;
}

.filter-features input[type="checkbox"]:checked + span {
    background-position: 0 104px;
}

.no-js .js-submit {
    display: none;
}

.no-js .no-js-submit {
    display: block;
}

.js .js-submit {
    display: block;
}

.js .no-js-submit {
    display: none;
}

.modal-feedback {
    width: 760px;
    padding: 100px;
    padding-top: 67px;
    padding-bottom: 85px;
    background-color: #ffffff;
    color: #000000;
    
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
    
    position: fixed;
    z-index: 1000;
    bottom: 180px;
    left: 50%;
    margin-left: -480px;
    
    display: none;
}

.modal-feedback-close {
    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0;
    
    border: 0;
    cursor: pointer;
    
    background-color: #ffffff;
    position: absolute;
    top: 78px;
    right: 90px;
    
    font-size: 0;
    opacity: 0.3;
    outline: none;
}

.modal-feedback-close::before,
.modal-feedback-close::after {
    content: "";
    width: 22px;
    height: 3px;
    background-color: #fb565a;
    border-radius: 1px;
    
    position: absolute;
    top: 10px;
    left: 0;
}

.modal-feedback-close::before {
    transform: rotate(45deg);
}

.modal-feedback-close::after {
    transform: rotate(-45deg);
}

.modal-feedback-close:hover {
    opacity: 1;
}

.modal-feedback-close:active {
    opacity: 0.1;
}

.modal-feedback h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 40px;
    
    color: #000000;
}

.feedback-form {
    font-size: 0;
}

.feedback-column {
    display: inline-block;
    vertical-align: middle;
    
    margin-bottom: 33px;
}

.feedback-column:first-child {
    margin-right: 40px;
}

.feedback-textarea {
    margin: 0;
}

.feedback-label {
    display: block;
    width: 160px;
    margin-bottom: 10px;
    
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(68, 68, 68, 0.5);
    font-family: Roboto, Verdana, sans-serif;
    
    background-color: #ffffff;
    border-radius: 3px;
    border: 2px solid #d7dcde;
    outline: none;
    
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
}

.feedback-form textarea {
    resize: none;

    padding: 10px;
    padding-left: 14px;
    padding-bottom: 12px;
    vertical-align: top;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"]{
    width: 360px;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
    border: 2px solid #b4b9bb;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
    border: 2px solid #000000;
    color: #000000;
}

.feedback-form input[type="text"]:invalid,
.feedback-form input[type="email"]:invalid,
.feedback-form textarea:invalid {
    border: 2px solid #e74246;
    color: #e74246;
}

.modal-feedback-show {
    display: block;
    -webkit-animation: feedback-appear 0.5s;
    animation: feedback-appear 0.5s;
}

.modal-feedback-error {
    -webkit-animation: feedback-error 0.3s;
    animation: feedback-error 0.3s;
}

@-webkit-keyframes feedback-error {
    0%, 100% {
        -webkit-transform: none;
        transform: none;
    }
    20%, 60% {
        -webkit-transform: rotate(0.5deg);
        transform: rotate(0.5deg);
    }
    40%, 80% {
        -webkit-transform: rotate(-0.5deg);
        transform: rotate(-0.5deg);
    }
}

@keyframes feedback-error {
    0%, 100% {
        -webkit-transform: none;
        transform: none;
    }
    20%, 60% {
        -webkit-transform: rotate(0.5deg);
        transform: rotate(0.5deg);
    }
    40%, 80% {
        -webkit-transform: rotate(-0.5deg);
        transform: rotate(-0.5deg);
    }
}

@-webkit-keyframes feedback-appear {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes feedback-appear {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}